/* your styles go here */

/*SHOP*/

.oferta {font-size: 14px; position: absolute; top: 10px; right: 10px; color: #fff; padding: 10px 20px;}
.container-productos {width: 1300px; margin: 0 auto;}
.box-productos {width: 25%; position: relative;}
.box-productos-title {font-size: 12px;}
.box-productos-carrito {font-size: 12px;}
@media screen and (max-width: 1439px) {
    .container-productos {width: 1100px;}
}
@media screen and (max-width: 1200px) {
    .container-productos {width: 991px;}
}
@media screen and (max-width: 991px) {
    .container-productos {width: 600px;}
    .box-productos {width: 50%;}
    .box-productos-title {font-size: 15px;}
    .box-productos-carrito {font-size: 15px;}
}
@media screen and (max-width: 575px) {
    .container-productos {width: 100%;}
    .box-productos {width: 50%;}
    .box-productos-title {width: 100%; font-size: 15px;}
    .box-productos-carrito {width: 40%; font-size: 15px;}
}
