@media screen and (max-width: 425px) {
    #tabla_carrito tr td{
        padding: 0;
    }

    .texto_carrito{
        font-size: 12px;
    }
}

/*<editor-fold desc="Estilo de Shop y Producto">*/

.oferta {font-size: 13px; position: absolute; top: 20px; right: 20px; color: #fff; padding: 5px 20px;}
.container-productos {width: 1300px; margin: 0 auto;}
.box-productos {width: 25%; position: relative;}
.box-productos-title {font-size: 12px;}
.box-productos-carrito {font-size: 12px;}
@media screen and (max-width: 1439px) {
    .container-productos {width: 1100px;}
}
@media screen and (max-width: 1200px) {
    .container-productos {width: 991px;}
}
@media screen and (max-width: 991px) {
    .container-productos {width: 600px;}
    .box-productos {width: 25%;}
    .box-productos-title {font-size: 15px;}
    .box-productos-carrito {font-size: 15px;}
}
@media screen and (max-width: 718px) {
    .container-productos {width: 600px;}
    .box-productos {width: 50%;    height: 400px;}
    .box-productos-title {font-size: 15px;}
    .box-productos-carrito {font-size: 15px;}
}
@media screen and (max-width: 575px) {
    .container-productos {width: 100%;;}
    .box-productos {width: 50%;}
    .box-productos-title {width: 100%; font-size: 15px;}
    .box-productos-carrito {width: 40%; font-size: 15px;}
}
/*</editor-fold>*/
#principal-slider-mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    #principal-slider {
        display: none;
    }

    #principal-slider-mobile {
        display: block;
    }
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.texto-excelencia {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0;
    color: var(--tono-secundario)
}

@media screen and (max-width: 500px) {
    .texto-excelencia {
        font-weight: 500;
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 991px) {
    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h1 {
        font-size: 17px;
    }
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.btn-primary {
    background-color: #1677BB;
    border: 1px solid #1677BB;
}

.btn-primary:hover {
    background-color: #175b89;
    border: 1px solid #175b89;
}

a {
    color: #1677BB;
}

a:hover {
    text-decoration: none;
    color: #175b89;
}

.navbar {
    background: #fff !important;
}

nav.navbar a {
    font-size: .8rem;
    color: #353535;
    position: relative;
}

#user-icon::after,
#carrito-icon::after {
    display: none;
}

.user-icon,
.carrito-icon {
    padding: 5px;
}

.user-icon.show {
    margin-left: -260px !important;
    margin-top: 8px;
    width: 300px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.user-icon-login.show {
    margin-left: -158px !important;
    margin-top: 8px;
    width: 200px;
    background: #fff;
    color: #101010;
}

#user-icon-login::after {
    display: none;
}

.carrito-icon.show {
    width: 400px;
    margin-top: 10px;
    margin-left: -370px !important;
    background: rgba(0, 0, 0, 0.9);
}

.trash-carrito {
    color: #606060;
}

.trash-carrito:hover {
    color: #909090;
}

.shop-menu.show {
    width: 900px;
    margin-left: -250px !important;
    margin-top: 12px;
    /* background: rgba(0, 0, 0, 0.9); */
    /* background: var(--tono-principal); */
    background: #fff;
    border-radius: 0px;
    color: #202020;
    border: none;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.shop-menu.show p {
    font-family: 'Roboto', sans-serif;
}

.shop-menu.show input::-webkit-input-placeholder {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

#search-icon::after {
    display: none;
}

.search-icon.show {
    width: 400px;
    margin-left: -358px !important;
    margin-top: 9px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0px;
    color: #fff;
}

.search-icon.show input::-webkit-input-placeholder {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.input-search,
#email,
#password {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #353535;
    color: #fff;
}

#input-search:focus,
#email:focus,
#password:focus {
    color: #fff !important;
    border-color: #707070;
    background: transparent;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.detalles-row:nth-child(even) {
    background-color: #F5F5F594;
}

#input_search {
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #808080;
}

#input_search:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #1676BA;
}

:root {
    --tono-principal: #E44C65;
    --tono-secundario: #E44C65;
    --tono-barra: #E44C65;
}

#ir_al_shop {
    color: #1677BB;
}

#header-new {
    position: fixed;
    top: 0;
    z-index: 30000;
    width: 100%;
    background: var(--tono-barra);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

#header-new a {
    color: #fff;
}

#header-new ul {
    margin-left: -20px;
}

#header-new ul li {
    list-style: none;
    float: left;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: left;
    padding-top: 4px;
}

#header-new-mobile {
    display: none;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 30000;
    width: 100%;
}

@media screen and (max-width: 1150px) {
    #header-new {
        display: none;
    }

    #header-new-mobile {
        display: block;
    }
}

.mobile {
    display: none;
}

@media screen and (max-width: 767px) {

    .mobile {
        display: block;
        margin-top: 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}

    .desktop {
        display: none;
    }
}

a:hover {
    text-decoration: none !important;
}

.menu-drop-mobile {
    width: 100%;
    background: #101010;
    /* background: var(--tono-principal); */
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 29999;
    padding: 30px 10px 20px 10px;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    margin-top: -1000px;
    display: none;
    overflow-y: auto;
    max-height: 85vh;
}

.active {
    background: var(--tono-principal);
}

@media screen and (max-width: 1150px) {
    .menu-drop-mobile {
        display: block;
    }
}

.menu-drop-mobile p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.menu-drop-mobile a {
    color: #fff;
}

.menu-drop-mobile a:hover {
    color: #fff;
    text-decoration: underline;
}

.menu-drop-mobile ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-left: -40px;
    padding: 10px 0;
}

#menu-drop-mobile-inside {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

#menu-drop-mobile-inside ul li {
    padding: 5px 0;
}

.close-drop {
    display: none;
}

.header-mobile-login {
    float: left;
    width: 25%;
    text-align: center;
    padding-bottom: 20px;
}

.datos-menu-mobile ul li {
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 12px;
}

#container-menu-responsive {
    padding-right: 150px;
    padding-left: 150px;
}

@media screen and (max-width: 991px) {
    #container-menu-responsive {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 850px) {
    #container-menu-responsive {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 575px) {
    #container-menu-responsive {
        padding-right: 0px;
        padding-left: 0px;
    }
}

#menu-bottom-number {
    font-size: 13px;
    margin-left: 2px;
}

#menu-bottom-responsive {
    width: 100%;
    /* padding: 10px 0 20px 0; */
    /* padding: 5px 0 20px 0; */
    padding: 10px;
    /* background: var(--tono-principal); */
    position: fixed;
    bottom: 0;
    z-index: 30000;
    display: none;
    /* box-shadow: 5px 10px 18px #000; */
    text-align: center;
}

.menu-bottom-contenedor {
    background: var(--tono-principal);
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0px 10px 10px 10px;
}

#menu-bottom-responsive p {
    font-size: 11px;
}

.menu-bottom {
    float: left;
    width: 20%;
    height: 40px;
    margin-top: 10px;
}

@media screen and (max-width: 1150px) {
    #menu-bottom-responsive {
        display: block;
    }
}

.contenedor_general {
    padding-left: 220px; 
    padding-right: 220px;
}

.menu_central {
    margin-top: -270px;
}

@media screen and (max-width: 1700px) {
    .contenedor_general {
        padding-left: 150px; 
        padding-right: 150px;
    }
}

@media screen and (max-width: 1500px) {
    .contenedor_general {
        padding-left: 50px; 
        padding-right: 50px;
    }

    .menu_central {
        margin-top: -150px;
    }
}

@media screen and (max-width: 1300px) {
    .contenedor_general {
        padding-left: 20px; 
        padding-right: 20px;
    }

    .menu_central {
        margin-top: -150px;
    }
}

@media screen and (max-width: 991px) {
    .contenedor_general {
        padding-left: 0px; 
        padding-right: 0px;
    }

    .menu_central {
        margin-top: -120px;
    }
}

.navbar-menu {
    background: var(--tono-barra) !important;
}

.space {
    width: 100%; height: 65px; background: #000;
}

.guaranies {

}

.dolares {
    float: right;
    text-align: right;
}

@media screen and (max-width: 991px) {
    .dolares {
        float: left;
        text-align: left;
    }
    .space {
        display: none;
    }
}
